<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Setup</title>
	<link rel="icon" sizes="192x192" href="airbnb/static/icons/android-icon-192x192-c0465f9f0380893768972a31a614b670.png" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="container mt-3">
	<div class="mt-3">
		<a href="/setup">Setup Panel</a>
		<a href="/client">Client Panel</a>
	</div>
	<div class="text-right">
		<button type="button" id="add_new" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
	    Add new
	  </button>
	</div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
        <th>Location</th>
        <th>Bedrooms</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% apts.each_with_index  do |apt, i| %>
	<tr>
		<td><a href="/apartments/<%= apt.apt_id %>"><%= apt.apt_id %></td></a>
		<td><%= apt.title %></td>
		<td><%= apt.price %></td>
		<td><%= apt.location %></td>
		<td><%= apt.bedrooms %></td>
		<td><%= apt.description[0..300] %> .....</td>
		<td>
			<form action="/setup/upload/<%= apt.apt_id %>" method="post" enctype="multipart/form-data">
				<label class="btn btn-primary">
					Upload Images<input type="file" style="display: none;" id="images" name="images[]" multiple>
				</label>
			</form>
			<form action="/setup/host/<%= apt.apt_id %>" method="post" enctype="multipart/form-data">
				<label class="btn btn-primary">
					Host Image<input type="file" style="display: none;" id="host_img" name="host_img">
				</label>
			</form>
			<button type="button" class="btn btn-primary edit" url="/setup/<%= apt.apt_id %>" idx="<%= i %>">Edit</button>
			<button type="button" class="btn btn-danger delete" data="/setup/delete/<%= apt.apt_id %>">Delete</button>
		</td>
	</tr>
      <%end%>
    </tbody>
  </table>
</div>
	<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

	      <!-- Modal Header -->
<!--       <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div> -->

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/setup" method="post">
        	<div class="row">
        		<div class="col">
			      	<input type="text" class="form-control" id="apt_id" placeholder="Enter Apartment ID" name="apt_id">
        		</div>
        		<div class="col">
				      <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title">
        		</div>
				    <div class="col">
				      <input type="number" class="form-control" id="price" placeholder="price" name="price">
				    </div>
        	</div>
        	<div class="row mt-3">
				    <div class="col">
				      <input type="text" class="form-control" id="location" placeholder="Location" name="location">
				    </div>
				    <div class="col">
				      <input type="number" class="form-control" id="bedrooms" placeholder="bedrooms" name="bedrooms" value="2">
				    </div>
        	</div>
			    <div class="mt-3">
			      <label >Host Details:</label>
			    </div>
			    <div class="row">
				    <div class="col">
				      <input type="text" class="form-control" id="host_name" placeholder="Name" name="host_name" value="Josef Werndl">
				    </div>
				    <div class="col">
				      <input type="text" class="form-control" id="host_street" placeholder="Street" name="host_street" value="Fahrenheitstraat">
				    </div>
				    <div class="col">
				      <input type="text" class="form-control" id="host_city" placeholder="City" name="host_city" value="Den Haag">
				    </div>
				    <div class="col">
				      <input type="text" class="form-control" id="host_country" placeholder="Country" name="host_country" value="Netherlands">
				    </div>
			    </div>
			    <div class="mt-3">
			      <label >Bank Info:</label>
			    </div>
			    <div class="row">
				    <div class="col">
				      <input type="text" class="form-control" id="bank_name" placeholder="Name" name="bank_name" value="ING">
				    </div>
				    <div class="col">
				      <input type="text" class="form-control" id="account_holder" placeholder="Holder" name="account_holder" value="Koeriersdienst The A-Team">
				    </div>
				    <div class="col">
				      <input type="text" class="form-control" id="account_number" placeholder="Number" name="account_number" value="NL80 INGB 0007 3904 65">
				    </div>
				    <div class="col">
				      <input type="text" class="form-control" id="bic" placeholder="BIC" name="bic" value="INGBNL2A">
				    </div>
			    </div>
			    <div class="mt-3">
			      <textarea class="form-control" rows="3" id="neighbour" name="neighbour" placeholder="Neighbour">
In de Fahrenheitstraat bevindt u zich in een rustige omgeving, met kleine parken in de buurt en veel basisvoorzieningen. Er zijn verschillende restaurants in uw straat en een supermarkt in de tegenovergestelde hoek.
Prijs is inclusief g / w / e, kabel-tv, internet en belastingen.</textarea>
			    </div>
			    <div class="mt-3">
			      <textarea class="form-control" rows="5" id="description" name="description" placeholder="Description"></textarea>
			    </div>
			    <div class="mt-3">
				    <div class="text-right">
					    <button type="submit" class="btn btn-primary">Submit</button>
					    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
				    </div>
			    </div>
			  </form>
      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript">
	var apts = <%= apts.to_json.html_safe %>
	$("input:file").change(function (){
    var fileName = $(this).val();
    if(fileName != "") {
    	alert('df');
    	$(this).parent().parent().submit();
    } 
  });
  $("button.delete").click(function() {
	  if (confirm("Press a button!") == true) {
	    window.location.href = $(this).attr('data');
	  }
  });
  $("button#add_new").click(function(){
  	$("#myModal #apt_id ").removeAttr("disabled");
  	$("#myModal #apt_id ").val("");
  });
  $("button.edit").click(function() {
  	url = $(this).attr('url');
  	idx = $(this).attr('idx');
  	$("#myModal form").attr("action", url);
  	$("#myModal #apt_id ").attr("disabled", 1);
  	$("#myModal #apt_id").val(apts[idx]['apt_id']);
  	$("#myModal #title").val(apts[idx]['title']);
  	$("#myModal #price").val(apts[idx]['price']);
  	$("#myModal #location").val(apts[idx]['location']);
  	$("#myModal #bedrooms").val(apts[idx]['bedrooms']);
  	$("#myModal #description").val(apts[idx]['description']);
  	$("#myModal #host_name").val(apts[idx]['host_name']);
  	$("#myModal #host_city").val(apts[idx]['host_city']);
  	$("#myModal #host_street").val(apts[idx]['host_street']);
  	$("#myModal #host_country").val(apts[idx]['host_country']);
  	$("#myModal #bank_name").val(apts[idx]['bank_name']);
  	$("#myModal #account_holder").val(apts[idx]['account_holder']);
  	$("#myModal #account_number").val(apts[idx]['account_number']);
  	$("#myModal #bic").val(apts[idx]['bic']);
  	$("#myModal #neighbour").val(apts[idx]['neighbour']);
  	$('#myModal').modal('show');
  });
</script>
</html>

